@use "../../assets/scss/variables" as *;

.card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    max-width: 1500px;
}

@media screen and (max-width: 500px) {
    .card-list {
        gap: 0.5rem;
        justify-content: space-evenly;
    }
  }