@use "../../assets/scss/variables" as *;

.card {
    width: 250px;
    height: 450px;
    background-color: $card-color;
    border-radius: 1rem;

    &__name {
        height: 32px;
        margin: 20px 0;
        &--small {
            margin: 20px 0;
            height: 32px;
            font-size: 16px;
        }
    }

    &__image {
        max-height: 300px;
    }

    &__tagline {
        &--small {
            font-size: 14px;
        }
    }
}

.hidden {
    display: none;
}
