@use "../../assets/scss/variables" as *;

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 4rem;
    padding: 1rem;
    min-width: $nav-bar-width;
}